     .images1 {
         width: 30px;
         height: 25px;
         background-image: url("assets/m1.png");
         background-size: 100% 100%;
         transition: 2s;
         cursor: hand;
     }
     
     .images1:hover {
         background-image: url("assets/m2.png");
     }
     .images5 {
         width: 34px;
         height: 30px;
         background-image: url("assets/s1.png");
         background-size: 100% 100%;
         transition: 1s;
         cursor: hand;
     }
     
     .images5:hover {
         background-image: url("assets/s2.png");
     }
     
     .pict {
         height: 50px;
         width: 50px;
         border-radius: 50%;
     }
     
     .images1 {
         width: 30px;
         height: 25px;
         background-image: url("assets/m1.png");
         background-size: 100% 100%;
         transition: 0.3s;
         cursor: hand;
     }
     
     .images1:hover {
         background-image: url("assets/m2.png");
     }
     
     .images2 {
         width: 30px;
         height: 25px;
         background-image: url("assets/n1.png");
         background-size: 100% 100%;
         transition: 0.3s;
         cursor: hand;
     }
     
     .images2:hover {
         background-image: url("assets/n2.png");
     }
     
     .images3 {
         width: 40px;
         height: 25px;
         background-image: url("assets/g1.png");
         background-size: 100% 100%;
         transition: 0.3s;
         cursor: hand;
     }
     
     .images3:hover {
         background-image: url("assets/g2.png");
     }
     
     .images4 {
         width: 30px;
         height: 25px;
         background-image: url("assets/h1.png");
         background-size: 100% 100%;
         transition: 0.3s;
         cursor: hand;
     }
     
     .images4:hover {
         background-image: url("assets/h2.png");
     }
     
     .menu {
         z-index: 5;
         width: 100vw;
         position: fixed;
         height: 50px;
         top: 0px;
         left: 0px;
         box-shadow: 0px 2px 1px 1px lightgray;
         background-color: white;
         display:none
     }
     .menu2{
        width: 100vw;
        position: fixed;
        height: 50px;
        top: 0px;
        left: 0px;
        box-shadow: 0px 2px 1px 1px lightgray;
        background-color: white;
        z-index:5;
        display:inline-table;
        padding-left:35px;
        padding-right:35px;
        }
     .navbutt{
		border:0px;
		background-color:transparent;
		font-size:20px;
		font-family:buxton sketch;
		font-weight:bolder;
		animation-duration:1s;
		cursor:hand;
        transition:0.2s;
        color:gray;
     }
     .navbutt:hover{
		border-bottom:2.5px solid cornflowerblue;
		color:cornflowerblue;
		cursor:hand;
    }
    .icon{
    	height:36px;
     	width:48px;
     	border-radius:25px;
     	cursor:hand;
     	padding-left:130px;
    }
    .searchbox{
        border-radius:8px;
        padding-right:8px;
        padding-left:8px;
        padding-top:2px;
        padding-bottom:2px;
        border:1px solid gray;
        font-size:14px;
        font-family:comic sans ms;
        width:300px;

    }
    .searchbox:focus{
        outline:none;
    }
    .profilepix{
        height:40px;
        width:40px;
        border-radius:50%;
        cursor:hand;
    }
    .profilepix:hover{
        border:2px solid powderblue;
    }
   .width{
       width:30px;
   }
     .posts {
         width: 50vw;
         background-color: rgb(252, 252, 252);
         padding-top: 15px;
         border-bottom: 2px solid lightgray;
     }
     
     .posttop {
         position: fixed;
         top: 52px;
         left: 25vw;
         border: 2px solid white;
         width: 50vw;
         height: 80px;
         background-color: white;
         z-index: 3;
     }
     
     .postupload {
         position: fixed;
         top: 52px;
         left: 25vw;
         border: 2px solid white;
         width: 50vw;
         height: 80px;
         visibility:hidden;
         opacity:0;
         background-color: white;
         z-index: 4;
     }
     
     #loader {
         width: 95%;
         height: 30px;
     }
     
     #load {
         font-family: tahoma;
         font-weight: bold;
         color: gray;
         font-size: 15px;
         width: 50px;
     }
     
     .pic {
         width: 100%;
         background-color: powderblue;
         height: 350px;
     }
     
     .pic2 {
         width: 100%;
         background-color: lightpink;
         height: 350px;
     }
     
     .image {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: tomato;
     }
         
      ::placeholder {
         color: lightgray;
     }
     
     #postbox {
         width: 95%;
         height: 45px;
         border-radius: 10px;
         border: 1px solid lightgray;
         padding: 10px;
         font-family: tahoma;
         font-size: 12px;
         resize: none;
     }
     
     #postbox:focus {
         border: 1px solid gray;
         outline: none;
     }
     
     label.overall {
         font-size: 15px;
         font-weight: bold;
         font-family: tahoma;
         position: relative;
         top: -12px;
     }
     
     p {
         white-space: pre-wrap;
     }
     
     .content {
         font-family: tahoma;
         font-size: 14px;
         text-align: left;
         width: 100%;
         white-space: pre-wrap;
         padding: 5px;
     }
     
     .perc {
         width: 100%;
     }
     
     .txt {
         font-size: 12px;
         font-weight: bold;
         font-style: italic;
         font-family: tahoma;
         color: green;
     }
     
     .interact1 {
         width: 30px;
         height: 25px;
         cursor: hand;
         background-image: url("assets/love.png");
         background-size: 100% 100%;
     }
     
     .interact2 {
         width: 30px;
         height: 25px;
         cursor: hand;
         background-image: url("assets/comment.png");
         background-size: 100% 100%;
     }
     
     .interact1:hover {
         background-image: url("assets/love2.png");
         background-size: 100% 100%;
     }
     
     .interact2:hover {
         background-image: url("assets/comment2.png");
         background-size: 100% 100%;
     }
     
     .body {
         width: 50vw;
         left: 25vw;
         top: 115px;
         position: absolute;
         overflow-y: auto;
         z-index: 2;
         text-align: center;
         overflow-x: hidden;
     }
     
     .postleft {
         position: fixed;
         top: 52px;
         left: 0vw;
         width: 24vw;
         z-index: 1;
         height: 100vh;
         overflow-y: auto;
         border-right:1px solid lightgray;
     }
     
     .postright {
         position: fixed;
         top: 52px;
         right: 0vw;
         width: 23vw;
         z-index: 1;
         height: 100vh;
         overflow-y: auto;
         border-left:1px solid lightgray;
     }
     .pcontent{
         width: 100%;
         padding-top:20px;
         padding-left:5px;
         padding-right:5px;
     }
     h2{
         font-family:Trebuchet MS;
         text-shadow:gray 1px 1px 1px;
         font-size:20px;
     }
     .picholder{
         width:25px;
         border-bottom:1px solid lightgray;
     }
     .senderpic{
         width:40px;
         height:40px;
         border-radius:50%;
     }
     .message{
         padding-left:4px;
         font-family:arial;
         color:gray;
         font-size:12px;
         padding-bottom:5px;
         border-bottom:1px solid lightgray;
     }
     .rule{
         border-bottom:2px solid lightgray;
         padding-bottom:10px;
     }
     .sender{
         padding-left:4px;
         font-family:tahoma;
         font-size:13px;
         font-weight:bold;
     }
     .ov {
         padding-left: 10px;
     }
     #postnow{
        position:fixed;
        width:100vw;
        height:100vh;
        top:0px;
        left:0px;
        z-index:6;
        background-color:rgba(0,0,0,0.5);
        visibility:hidden;
        overflow-y:auto;
     }
     
     .postcontent{
        padding:20px;
        width:50vw;
        background-color:white;
        position:relative;
        top:10vh;
        border-radius:10px;
        overflow-y:auto;
     }
     #options{
        position:fixed;
        right:0px;
        top:50px;
        width:20vw;
        height:500px;
        background-color:white;
        border-left:1px solid lightgray;
        border-bottom:1px solid lightgray;
        z-index:6;
        display:none;
     }
     @media(max-width:1000px) {
        .postcontent{
         width:80vw;
        }
        #options{
          width:60vw;
        }
         .body {
             width: 95vw;
             left: 2vw;
         }
         .postleft,
         .postright {
             display: none;
         }
         .posttop {
             width: 95vw;
             left: 2vw;
         }
         .postupload {
             width: 95vw;
             left: 2vw;
         }
         .posts {
             width: 85vw;
             background-color: white;
             left: 2vw;
         }
         .interact1 {
             width: 25px;
             height: 20px;
         }
         .interact2 {
             width: 20px;
             height: 20px;
         }
         label.overall {
             font-size: 15px;
             position: relative;
             top: -14px;
         }
         .pic {
             height: 350px;
         }
         .pic2 {
             height: 350px;
         }
         .content {
             font-size: 15px;
         }
         .menu2{
             display:none
         }
         .menu{
             display:inline-table
         }
     }

